
/*FORMULAIRES*/

/*.container-fluid {
    background-color: #d5d5d5;
}*/
.widget-main {
    padding: 12px;
    vertical-align: middle;
    color: dimgray;
    padding-left: 10%;
    padding-right: 10%;
    vertical-align: middle;
    width: 100%;
}
label {
    font-weight: normal;
    font-size:16 px;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    border-radius: 7px;
    color: #858585;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    padding: 5px 4px 6px;
    font-size: 14px;
    font-family: inherit;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
}

/*.container-fluid {
    background-color: #838383;
}*/

.widget-main {
    padding: 12px;
    vertical-align: middle;
    color: dimgray;
    padding-left: 10%;
    padding-right: 10%;
    vertical-align: middle;
    width: 100%;
}
fieldset{
	-webkit-box-shadow: 7px 7px 5px 0 #838383;
	box-shadow: 7px 7px 5px 0 #838383;
	background-color:#E4E6E9;
	margin: 15px;
	border-radius:8px;	
	padding: 15px;
}
/*label.control-label {
    font-size: 20px;
    font-family: cursive;
	margin-right:100px;
}*/
widget-main.label {
    font-weight: normal;
    font-size: 16px;
}
.user-image {
    background-color: white;
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    border: 4px solid #838383;
    vertical-align: sub;
    text-align: center;
}
/*.gray-black {
	background-color: #838383;
	
}*/
/*
.panel-primary>.panel-heading{
	background-color: #838383;
}*/
.fa-pencil{
	color: white;
}
.fa-plus{
	color:white;
}
.borders-radius{
	border-radius: 6px 6px 6px 6px ;
}
.borders-radius-6{
	border-radius: 6px 6px 6px 6px ;
}
.borders-radius-10{
	border-radius: 10px 10px 10px 10px ;
}
/*.panel{
	background-color: #E4E6E9;
}*/

.label-formation{
	font-size: 20px;
	font-family: cursive;
}
/*.panel-primary {
    border-color: #838383;
}*/
.white-background:hover{
	background-color:#E4E6E9;
}
.yellow-cestom-background:hover{
	background-color:#ecbe0e;
}
.titre-formation{
	justify:center;
}
