{% extends '::base_public.html.twig' %} 


{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
		'bundles/cestomarticle/css/accueilStyles.css'
		'bundles/cestomarticle/css/statuts.css'
		
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    			
	

	<div class="container-fluid">
		<!--PRESENTATION-->
		<div>
		<div class="title-cestom-status">CESTOM: STATUS</div>
		<div class="def-cestom">Coordination des Etudiants et Stagiaires Togolais au Maroc</div>
		<div class="revision-statuts">[Révision du congrès du 25 Août 2007]</div>
		
		<div class="preambule">Préambule</div>
		
		<div class="italic">
		<div class="preambule-u">Considérant la nécessité de renforcer les liens sacrés de fraternité entre
togolais,</div>
<div class="preambule-u">Conscients des problèmes que rencontrent les étudiants et stagiaires
étrangers au Maroc,</div>
<div class="preambule-u">Soucieux de créer une harmonie pour mobiliser les étudiants et stagiaires togolais en vue de défendre leurs droits et intérêts,</div>
<div class="preambule-u">Conformément au Dahir N
o
1-73-283 du 6 Rabia I 1393 (10 avril 1973),</div>
<div class="preambule-u">Nous, étudiants et stagiaires togolais au Maroc réunis le 17 Août 1998,
avions décidé de la création de la Coordination des Etudiants et Stagiaires
Togolais au Maroc (CESTOM) et adoptons les statuts dont la teneur suit :</div></div>
	
	</div>
	
		<!--PARTIE 1-->
		<div id="partie1">
			<div class="titre-partie">
				Titre 1: Dénomination - Siège - Durée
			</div>
			<div id="chapitre1.1">
				<div class=" chapitre-titre">
					Chapitre I: Dénomination
				</div>
						<div class="statut"><legend>Article 1</legend>
						<p>Il est créé une association regroupant 
						les étudiants et stagiaires togolais au Maroc.</p>
						</div>
						<div class="statut"><legend>Article 2</legend>	
						<p>L’association est dénommée Coordination des Etudiants et Stagiaires Togolais au Maroc.</p>
						</div>
						<div class="statut"><legend>Article 3</legend>	
						<p>La CESTOM est une association apolitique, laïque et libre.</p>
						</div>					
			</div>
			<div id="chapitre1.2">
				<div class=" chapitre-titre">
					Chapitre II: Siège
				</div>
				<div class="statut"><legend>Article 4</legend>
					<p>Le siège et le bureau de la CESTOM se trouvent à Rabat.</p>
				</div>
				<div class="statut"><legend>Article 5</legend>
									<p>Le bureau peut être transféré provisoirement en tout lieu sur décision de
					l’Assemblée Générale à la majorité simple tout en ayant en son sein un
					de ses membres résidant à Rabat. Et en se conformant aux attributions du
					Secrétaire Général Adjoint, ce dernier occupera ce poste. En cas d’impossibilité de résidence de ce membre du Bureau Exécutif à Rabat, le Bureau
					Exécutif mandate un membre de l’association résidant à Rabat pour sa représentation pour les affaires administratives.</p>
				</div>
				
			</div>
			<div id="chapitre1.3">
					<div class="chapitre-titre">
						Chapitre III: Durée 
					</div>
					<div class="statut"><legend>Article 6</legend>			
							<p>L’association a une durée de vie illimitée.</p>
					</div>
				</div>
		</div>
			
		<!--PARTIE 2-->
		<div id="partie2">
			<div class="titre-partie">
				Titre II: Objectifs - Moyens d'action - Ressources
			</div>
			<div id="chapitre2.1">
				<div class="chapitre-titre">
					Chapitre I: Objectifs 
				</div>
				<div class="statut"><legend>Article 7</legend>			
						<ul>La CESTOM a pour objectifs de :
				<li>Regrouper en son sein les étudiants et stagiaires togolais au Maroc</li>
				<li>Défendre et sauvegarder les droits et intérêts matériels et moraux de
				tous ses membres.</li>
				<li>Développer l’esprit de travail et d’entraide entre ses membres.</li>
				<li>Entretenir les relations d’amitié et de travail avec toute autre association poursuivant des objectifs similaires.</li></ul>
									</div>
			</div>
			<div id="chapitre2.2">
				<div class="chapitre-titre">
					Chapitre II: Moyens d'actions 
				</div>
				<div class="statut"><legend>Article 8</legend>			
					<ul>Pour réaliser ses objectifs, la CESTOM entend :
					<li>Organiser des activités culturelles, sociales, éducatives et sportives.</li>
					<li>Publier des rapports et journaux.</li>
					<li>Entretenir des relations avec toute autre association similaire par correspondance ou action concertée.</li>
					</ul>
				</div>
			</div>
			<div id="chapitre2.3">
				<div class="chapitre-titre">
					Chapitre III: Ressources 
				</div>
				<div class="statut"><legend>Article 9</legend>			
					<p>Les ressources de la CESTOM proviennent essentiellement des droits d’adhésion et des cotisations ordinaires ; s’y ajoutent des cotisations extraordinaires, les produits d’activités, les dons, legs et subventions. Article 10:
					La CESTOM se réserve le droit d’accepter ou de rejeter tout don, legs ou toute
					subvention dont la nature compromettrait ses objectifs et sa moralité.</p>					
				</div>
			</div>
		</div>
		
		
		
		<!--PARTIE 3-->
		<div id="partie3">
			<div class="titre-partie">
				Titre III: Structures et attributions
			</div>
			<div id="chapitre3.1">
				<div class="chapitre-titre">
					Chapitre I: Structures 
				</div>
				<div class="statut"><legend>Article 7</legend>			
					<ul>La CESTOM se compose de trois organes, de deux types de commissions et des sections :
						<li>Le congrès</li>
						<li>L’assemblée Générale (AG)</li>
						<li>Le Bureau Exécutif (BE)</li>
						<li>Les commissions permanentes</li>
						<li>Les commissions spéciales</li>
						<li>Les sections</li>
					</ul>
				</div>
			</div>
			<div id="chapitre3.2">
				<div class="chapitre-titre">
					Chapitre II: Attributions 
				</div>
				<div class="sub-title">I- Le congrès</div>
				<div class="statut"><legend>Article 12</legend>
					<p>Le congrès est l’instance suprême de l’association, il est composé de tous les
					membres. Le congrès est convoqué tous les trois ans par le bureau exécutif
					chargé de son organisation à Rabat.</p>
					<p>En cas de crise ou de circonstances exceptionnelles, le bureau exécutif
					décide du lieu et du moment de la tenue du congrès. Un congrès extraordinaire peut se tenir sur décision de l’assemblée générale.</p>
				</div>
				<div class="statut"><legend>Article 13</legend>
					<p>Seul le congrès détermine les lignes d’action de l’association et modifie au
						besoin ses statuts.</p>
					<p>Les décisions du congrès sont prises à la majorité des deux tiers des
						membres présents en dehors des élections où la majorité simple est adoptée.</p>
				</div>
				<div class="statut"><legend>Article 14</legend>
					<p>Une commission chargée de la relecture du statut est mise en place au
					moins un mois avant le Congrès par le BE en concertation avec la commission des membres d’honneur.</p>
					<p>Le congrès est dirigé par un présidium de trois (3) membres élus à l’ouverture.</p>
				</div>
				<div class="sub-title" >II- L'assemblée Générale</div>
					<div class="statut"><legend>Article 15</legend>
					<p>L’assemblée générale est la deuxième instance de l’association.</p>
					<p>Elle se réunit une fois par an en session ordinaire. Des sessions extraordinaires peuvent être convoquées par le bureau exécutif sur sa propre initiative ou sur proposition de tout membre en cas de nécessité.</p>
					
				</div>
				<div class="statut"><legend>Article 16</legend>
					<p>L’assemblée générale prend toutes les décisions sauf celles relevant de la compétence exclusive du congrès.</p>
					<p>Les décisions sont prises à la majorité simple des membres présents.</p>
				</div>
				<div class="statut"><legend>Article 17</legend>
					<p>L’assemblée générale est souveraine dans ses attributs.</p>
				</div>
				
				<!-- Le Bureau Exécutif -->
				<div class="sub-title">III Le Bureau Exécutif</div>
					<div class="sub-title-2">A - Le Secrétaire Général</div>
						<div class="statut"><legend>Article 18</legend>
							<p>Le bureau exécutif est composé de cinq (5) membres :</p>
							<ul>
								<li>Un secrétaire général (S.G)</li>
								<li>Un secrétaire général adjoint (S.G.A)</li>
								<li> Un trésorier général (T.G)</li>
								<li>Un trésorier général adjoint (T.G.A)</li>
								<li>Un Chargé aux affaires socioculturelles et sportives.</li>
							</ul>
						</div>
						<div class="statut"><legend>Article 19</legend>
							<p>Le bureau exécutif est élu à pour un mandat d’un an renouvelable une seule
								fois. Il exerce son mandat conformément aux statuts et prend fonction dès
								son investiture. L’investiture a lieu le jour des élections.
							</p>
							<p>Les membres du bureau exécutif sont collégialement responsables devant l’Assemblée 		Générale et le Congrès. Le BE tient avec les délégués de
								villes deux réunions de travail par an. Ces réunions ont lieu après l’investiture du bureau et avant les activités d’été, pour discuter du plan d’action
								de la coordination.
							</p>
						</div>
						
					<div class="sub-title-2">B - Le Secrétaire Général</div>
					<div class="statut"><legend>Article 20</legend>
						<p>Il est le premier responsable de l’association et détient les archives de l’association. 
							Il est 	tenu de signaler tout dysfonctionnement persistant du bureau
							exécutif à l’AG ou au Congrès en vue de son règlement. Il convoque et préside les réunions du bureau exécutif et de l’AG dont il propose l’ordre du
							jour. Il signe les cartes de membre et les procès verbaux et ordonne les
							dépenses sur approbation de la majorité des membres du bureau exécutif.
						</p>
						<p>Il est tenu d’informer à temps tous les membres du Bureau Exécutif de
							tout ce qui touche à la vie de l’association. Il cumule les fonctions du S.G.A.
							en cas d’empêchement ou de vacance définitive à ce poste.
						</p>
					</div>
					<div class="statut"><legend>Article 21</legend>
						<p>Pour toute représentation extérieure, le Secrétaire Général est tenu de se
							faire accompagner par un membre du Bureau Exécutif ou par tout membre
							de l’association sur décision du Bureau Exécutif. En cas d’empêchement il
							se fait remplacer dans les mêmes conditions par le S.G.A.
						</p>
					</div>
					
					<div class="sub-title-2">B - Le Secrétaire Général Adjoint</div>
					<div class="statut"><legend>Article 22</legend>
						<p>Il est le deuxième responsable de l’association. Il assure la correspondance,
							rédige et distribue les invitations. Il travaille en étroite collaboration avec
							les délégués de chaque section désignés par leurs pairs. Il est chargé de
							l’édition et de la publication de l’organe d’information de l’association. Il
							rédige les procès-verbaux. Il supplée le Secrétaire général en cas d’empêchement et le remplace en cas de vacance définitive.
						</p>
					</div>
					
					<div class="sub-title-2">C - Le Trésorier Général</div>
					<div class="statut"><legend>Article 23</legend>
						<p>Le Trésorier Général détient et gère les fonds de l’association. Il tient la
comptabilité des opérations financières et contresigne les dépenses ordonnancées par le Secrétaire Général sur approbation de la majorité des membres du Bureau Exécutif en fonction des circonstances.</p>

					</div>
					
					<div class="sub-title-2">D - Le Trésorier Général Adjoint</div>
					<div class="statut"><legend>Article 24</legend>
						<p>Il assiste le Trésorier Général dans l’exercice de ses fonctions. Il supplée le
Trésorier Général en cas d’empêchement et le remplace en cas de vacance
définitive.</p>
					</div>
					<div class="sub-title-2">E - Le Chargé aux Affaires Socioculturelles</div>
					<div class="statut"><legend>Article 25</legend>
						<p>Il s’occupe des problèmes matériels et moraux des membres de l’association. Il organise les 		activités culturelles et sportives de l’association, des cercles d’études, des conférences . . .</p>
						<div><a href="#">Plus d'informations</a></div>
					</div>
					<div class="sub-title">IV - Les commissions permanentes</div>
					
						<div class="statut"><legend>Article 26</legend>
							<p>L’association regroupe deux (2) commissions permanentes composées chacune de trois (3) personnes :</p>
							<ul>
								<li>Un président.</li>
								<li>Un vice-président.</li>
								<li>Un secrétaire.</li>
							</ul>
							<ul> Ces commissions sont: 
								<li>La commission des comptes.</li>
								<li>La commission des membres d’honneur.</li>
							</ul>
						</div>
						<div class="statut"><legend>Article 27</legend>
							<p>La commission des comptes est indépendante. Elle se compose de trois (3)
membres élus par l’Assemblée Générale ou le Congrès pour une durée d’un
an. Au moins un membre de ladite commission devra résider dans la ville
où siège le BE. Elle a accès à toutes les pièces comptables et, à tout moment,
procède à des contrôles et en fait le rapport à la deuxième Assemblée Générale en fin de mandat du bureau exécutif.</p>
						</div>
						<div class="statut"><legend>Article 28</legend>
							<p>La commission des membres d’honneur est indépendante. 	Elle se compose
								de trois (3) membres élus par l’Assemblée Générale ou le Congrès pour
								une durée d’un an ; membres qui doivent être anciens au Maroc (ayant au
								minimum quatre ans d’appartenance à la CESTOM).</p>
								<p>Elle travaille en collaboration avec la commission des comptes et fait des
								propositions au BE. Au besoin convoque le BE sur proposition des délégués
								et/ou de la commission des comptes. Elle fait le rapport à la deuxième
								Assemblée Générale en fin de mandat du bureau exécutif.</p>
						</div>
						<div class="sub-title">V - Les commissions spéciales</div>
					
						<div class="statut"><legend>Article 29</legend>
							<p>Elles sont formées ponctuellement par l’AG ou le BE pour accomplir des missions précises. Elles doivent rendre compte à la commission des membres
d’honneur et au BE si elles sont formées par l’AG ou seulement au BE si elles
sont formées par le BE. Le BE ou la commission des membres d’honneurs est chargé de faire le rapport de cette commission spéciale à la deuxième
Assemblée Générale en fin du mandat du BE si elles sont formées par l’AG.</p>
						</div>
						<div class="sub-title">VI - Les sections</div>
						<div class="statut"><legend>Article 30</legend>
							<p>Suivant l’effectif de ses membres et de leur position géographique, les étudiants et stagiaires peuvent s’organiser en section. Chaque section sera en
liaison avec le bureau exécutif qui a autorité sur celle-ci</p>
						</div>
						<div class="statut"><legend>Article 31</legend>
							<p>Chaque section s’organise à son niveau pour son bon fonctionnement.</p>
						</div>
						
					</div>
		</div>
		
		<!-- Partie 4 -->
		<div id="partie4">
			<div class="titre-partie">
				Titre IV  Adhésion - Sanctions - Démission
			</div>
			<div id="chapitre4.1">
				<div class="chapitre-titre">Chapitre I:  ADHÉSION</div>
				<div class="statut"><legend>Article 32</legend>
					<p>Pour être membre de la CESTOM, il faut :</p>
					<ul>
						<li>Être Togolais.</li>
						<li>Être étudiant régulièrement inscrit dans une faculté ou école de formation du Maroc sous la nationalité togolaise ou être stagiaire.</li>
						<li>Remplir une fiche d’adhésion.</li>
						<li>Payer le droit d’adhésion.</li>
					</ul>
				</div>
				<div class="statut"><legend>Article 33</legend>
					<p>Tout membre de l’association doit avoir une carte de membre valide et
observer les statuts et décisions prises par l’association. Il doit s’acquitter
régulièrement de ses cotisations ordinaires et extraordinaires, sauf dérogation spéciale du BE.</p>
				</div>
				<div class="statut"><legend>Article 34</legend>
					<p>Tout membre est soumis aux dispositions des articles 32 et 33 sous peine
d’être confronté aux mesures précaires du chapitre 3 du titre 4 des présents
statuts.</p>
				</div>
			</div>
			<div id="chapitre4.2">
				<div class="chapitre-titre">Chapitre II: ÉLIGIBILITÉ</div>
				<div class="statut"><legend>Article 35</legend>
					<p>Peut être électeur, tout membre ou stagiaire, qui fait parti de la CESTOM et qui est en règle avec l’association.</p>
							</div>
					<div class="statut"><legend>Article 36</legend>
						<p>Tout membre du BE est élu au scrutin secret uninominal à la majorité simple.</p>
					</div>
					<div class="statut"><legend>Article 37</legend>
								<p>Peut être candidat aux postes de Secrétaire Général tout membre de l’association ayant déjà accumulé au moins deux (2) années d’appartenance à la
			coordination ayant encore au moins deux (2) années académiques à faire
			au Maroc.
			</p>
			<p>
			Peut être candidat aux postes de Trésorier Général tout membre de l’association ayant au moins une année d’appartenance à la coordination et
			ayant encore au moins deux (2) années académiques à faire au Maroc.</p>
							</div>
							<div class="statut"><legend>Article 38</legend>
								<p>Peut être candidat aux autres postes au sein du BE tout membre ayant au
			moins une (1) année académique à faire au Maroc. En cas de vacance d’un
			poste du bureau, le BE peut choisir un autre membre après concertation des
			membres d’honneur.</p>
							</div>
							<div class="statut"><legend>Article 39</legend>
								<p>En cas de vacances définitives au poste de Secrétaire Général et de Secrétaire Général Adjoint, les membres restants du BE sont tenus de convoquer
			dans un délai maximum de trois (3) mois, une assemblée générale extraordinaire qui dissout le BE et organise de nouvelles élections. Passé ce délai,
			un triumvirat représentatif, formé sur la base du choix des délégués des
			sections majoritaires, convoque cette assemblée générale.</p>
							</div>
							<div class="statut"><legend>Article 40</legend>
								<p>L’Assemblée Générale ou le Congrès désigne une commission ad hoc de
			3 personnes qui se charge des élections. La dite commission recueille et
			étudie les candidatures. Toutefois l’AG ou le Congrès peut faire des propositions.</p>
								<p>Avant de procéder au vote, l’AG ou le Congrès doit se prononcer sur les
			candidatures.</p>
							</div>
							
			</div>
			<div id="chapitre4.3">
				<div class="chapitre-titre">Chapitre III: SANCTIONS</div>
				<div class="statut"><legend>Article 41</legend>
					<p>En cas de faute de tout membre portant atteinte à la vie de l’association,
l’AG ou le Congrès peut prononcer les sanctions suivantes à son encontre :
avertissement, blâme, suspension, exclusion ou radiation suivant la gravité
de la faute. Une réparation est demandée en cas de préjudices matériels ou
financiers non justifiés.</p>
				</div>
				<div class="statut"><legend>Article 42</legend>
					<p>Seul le Congrès ou seule l’AG peut se prononcer sur la radiation d’un membre. L’intéressé est convoqué devant l’assemblée ; il dispose du droit de
réponse. Les sanctions sont prises par vote secret à la majorité des 3/4 des
membres présents pour la radiation et à la majorité des 2/3 pour les autres
sanctions.</p>
				</div>
				<div class="statut"><legend>Article 43</legend>
					<p>Toute absence à une AG doit être justifiée dans les 7 jours qui suivent sous
peine d’une amende de 20dhs.</p>
				</div>
				
			</div>
			<div id="chapitre4.4">
				<div class="chapitre-titre">Chapitre IV: DÉMISSION</div>
				
				<div class="statut"><legend>Article 44</legend>
					<p>Lorsque son activité est contraire aux objectifs et intérêts de la coordination en cas de contrainte majeure, tout membre du BE peut demander à
être déchargé de ses responsabilités. Il notifie une lettre à la commission
des membres d’honneur qui en apprécie le contenu et prend des décisions
définitives.</p>
					<p>Lorsque son activité est contraire aux objectifs et intérêts de la coordination, tout membre peut présenter sa démission. Il notifie sa décision par
une lettre au BE.</p>
				</div>
				<div class="statut"><legend>Article 45</legend>
					<p>Tout membre radié ou démissionnaire de la coordination perd tous les
droits au sein de celle-ci et ne bénéficie d’aucun remboursement.</p>
				</div>
				<div class="statut"><legend>Article 46</legend>
					<p>Tout membre démissionnaire souhaitant sa réintégration notifie une lettre
au BE qui en concertation avec les membres d’honneur, décide de sa réintégration. En cas de réintégration, ce membre doit s’acquitter des cotisations
ordinaires et extraordinaires des années ou mois ayant couvert la durée de
son absence au sein de l’association. Il sera par ailleurs amendé par le BE.</p>
				</div>
				<div class="statut"><legend>Article 47</legend>
					<p>En cas de démission du BE il se forme un Triumvirat représentatif formé
sur les mêmes bases comme stipulé dans l’article 39 et ayant les mêmes
fonctions.</p>
				</div>
				
				
			</div>
				
		</div>
		<!-- Partie 5 -->
		<div id="partie5">
			<div class="titre-partie">
				Titre V  Dispositions générales
			</div>
			<div class="statut"><legend>Article 48</legend>
				<p>Si par insuffisance d’effectif ou désintéressement total de la majorité de ses
membres, la viabilité de la coordination devient précaire, le BE peut proposer un projet de dissolution au Congrès. La dissolution devient effective si
le projet est adopté à la majorité des 3/4 des membres effectifs au scrutin
secret.</p>
			</div>
			<div class="statut"><legend>Article 49</legend>
				<p>En cas de dissolution de la CESTOM il ne peut en aucune manière être procédé au partage des biens de la coordination entre ses membres. Ses biens
doivent être versés à une association similaire ou à une oeuvre de bienfaisance au Togo par un comité élu par le Congrès.</p>
			</div>
			<div class="statut"><legend>Article 50</legend>
				<p>Le Congrès élabore en vue de l’application des présents statuts un règlement intérieur en annexe.</p>
			</div>
			<div class="statut"><legend>Article 51</legend>
				<p>Tout cas non prévu par le présent statut peut être discuté à l’AG.</p>
			</div>
			<div class="statut"><legend>Article 52</legend>
				<p>Les présents statuts prennent effet dès leur adoption par le Congrès.</p>
			</div>
		</div>
		<!-- Partie 6 -->
		<div id="partie5">
			<div class="titre-partie">
				Titre VI  Annexe : Définitions
			</div>
			<div class="statut annexe"><legend>Définitions</legend>
				<p>
				<strong class="ft-size-20">Scrutin uninominal : </strong>
				<span>Mode de scrutin dans lequel chaque “candidat” est
une unique personne physique. Cela exclut entre autres qu’un bureau
se présente de façon collective.</span>
				
				</p>
				<p>
				<strong class="ft-size-20">Majorité absolue : </strong>
				<span>Mode de scrution dans lequel un candidat est élu, si, et
					seulement si, il receuille au moins 50% des suffrages exprimés et une
					voix. A défaut, un deuxième tour est organisé entre les deux premiers
					candidats.
					</span>
				
				</p>
				<p>
				<strong class="ft-size-20">Majorité simple : </strong>
				<span>Mode de scrutin dans lequel le candidat ayant receuilli
			le plus de voix est immédiatement élu (sans condition sur le pourcentage de voix favorables).</span>			
					</div>
		</div>
		<div class="end-note">	
		<div>Fait à Rabat le 25 Août 2007,</div>	
		<div>Le Congrès.</div>	
		</div>	
		
		<style>
		.ft-size-20{
			font-size: 20px;
		}
		.end-note {margin:15px;
    text-align: end;
}
		.sub-title {
    margin-left: 150px;
    font-size: x-large;
    color: #F44336;
    margin-top: 50px;
}.sub-title-2 {
    margin-left: 185px;
    font-size: large;
    color: #F44336;
    margin-top: 20px;
}
			h1 {
				letter-spacing: 2px;
				font-size: 33px;
				color: #F44336;
				margin-left: 150px;
			}
			.titre-partie {
				color: #F44336;
				text-transform: uppercase;
				font-size: xx-large;
				margin: 15px;
				margin-left: 60px;
				border-bottom: 4px solid #838383;
				    margin-top: 200px;
			}
			.statut {
				margin: 25px;
				padding: 10px;
				background-color: #ffffff;
				border-color: black;
				border: 1px solid #D2CECE;
				border-radius: 10px;
				width: 60%;
				margin-left: 25%;
				font-size: px;
				-webkit-box-shadow: 7px 7px 5px 0 #A9A9A9;
				box-shadow: 7px 7px 5px 0 #A9A9A9;
				font: large "trebuchet ms", helvetica, arial, sans-serif;
				background-color: white;
				word-wrap: break-word;
			}
			legend {
				display: block;
				width: 100%;
				padding: 0;
				margin-bottom: 20px;
				font-size: 21px;
				line-height: inherit;
				color: #F44336;
				border: 0;
				border-bottom: 1px solid #e5e5e5;
				font: x-large "trebuchet ms", helvetica, arial, sans-serif;
				text-transform: uppercase;
				background-color: white;
				word-wrap: break-word;
			}
			.def-cestom {
				font-size: 20px;
				text-align: center;
			}
			.preambule-u {
				margin-left: 60px;
				max-width: 60%;
				padding: 5px;
			}
			h1.title-cestom-status {
				border-bottom: 5px solid black;
				text-align: center;
			}
			.revision-statuts {
				text-align: center;
				margin-top: 50px;
			}.preambule {
				text-align: left;
				margin: 10px;
				border-bottom: 2px solid #838383;
				border-top: 2px solid #838383;
				padding: 50px;
				font-size: xx-large;
				margin-top: 200px;
				margin-bottom: 30px;
			}.italic {
				font-style: italic;
				font-family: Andale Mono;
				margin-bottom: 50px;
			}body {
				background-color: rgba(228, 228, 228, 0.68);
			}
			.chapitre-titre {
				color: #F44336;
				font-size: x-large;
				margin: 15px;
				margin-left: 90px;
				BORDER-BOTTOM: 1px solid red;
				margin-top: 75px;
			}
		</style>
		
	</div>
		

{% endblock %}

{% block javascripts %}

    {{ parent() }}
	
{% endblock %}
