{# app/Resources/views/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block notification %} 1 {% endblock %}

{% block listenotification %} 
    <li>
        <a href="#">
            <i class="btn btn-xs btn-primary fa fa-user"></i>
            Elom just signed up as an editor ...
        </a>
    </li> 
{% endblock %}


{% block message %} 1 {% endblock %}

{% block listemessage %} 
    <li>
        <a href="#">
            <span class="msg-body">
                <span class="msg-title">
                    <span class="blue">Alex:</span>
                    Je veux savoir c'est quand la bourse
                </span>

                <span class="msg-time">
                    <i class="ace-icon fa fa-clock-o"></i>
                    <span>a moment ago</span>
                </span>
            </span>
        </a>
    </li>
{% endblock %}


{% block navigation %}


    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li class="active">Gestion des membres</li>
    </ul>

{% endblock %}


{% block soustitre %} 

    Liste des membres

{% endblock %}

{% block content %}

    <!-- <div class="table-responsive"> -->

    <!-- <div class="dataTables_borderWrap"> -->
    <div>
        <table id="sample-table-2" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="center">
                        <label class="position-relative">
                            <input type="checkbox" class="ace" />
                            <span class="lbl"></span>
                        </label>
                    </th>
		    <th> </th>
                    <th>Nom </th>
                    <th>Prénom</th>
                    <th>Sexe</th>
                    <th>Promotion</th>
                    <th>Ville</th>
                    <th>Université/Ecole</th>
                    
                </tr>
            </thead>

            <tbody>

                <tr>

                    <td class="center">
                        <label class="position-relative">
                            <input type="checkbox" class="ace" />
                            <span class="lbl"></span>
                        </label>
                   </td>
<td>
                        <div class="hidden-sm hidden-xs action-buttons">
                            <a class="blue" href="#">
                                <i class="ace-icon fa fa-eye bigger-130"></i>
                            </a>

                            <a class="green" href="#">
                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                            </a>

                            <a class="red" href="#">
                                <i class="ace-icon fa fa-envelope-o bigger-130"></i>
                            </a>

                        </div>

                        <div class="hidden-md hidden-lg">
                            <div class="inline position-relative">
                                <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                    <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                </button>

                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                    <li>
                                        <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                            <span class="blue">
                                                <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                            <span class="green">
                                                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                            <span class="red">
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                            <span class="red">
                                                <i class="ace-icon fa envelope-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a href="#">EDAH</a>
                    </td>
                    <td>Elom</td>
                    <td>M</td>
                    <td>2010</span></td>
                    <td >
                        <span >Rabat</span>
                    </td>
		    <td>ENSIAS </td>
                 
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}



