{# app/Resources/views/email/password_resetting.email.twig #}

{% block subject %}Resetting your  password{% endblock %}





{% block body_html %}

    

<span>Hello {{ user.username }} !</span>

You can reset your password by accessing 
<a href="{{ confirmationUrl }}"> {{ confirmationUrl }} </a>

Greetings,
the App team

{% endblock %}
