{% extends '::base.html.twig' %} 
	
{% block soustitre %} 
    Nouvel article
{% endblock %}



{% block content -%}
	 <div class="container-fluid">
		{{ form(form) }}
	 </div>
	<style>
	#cestom_articlebundle_article_submit:hover{
		border-color: #2196F3;
	}
	<style>
{% endblock %}